/*variables*/
$color-light-gray: #c3cddb;
$color-medium-gray: #bbbbce;
$color-dark-gray: #57585e;
$color-white: #fff;
$color-purple: #686de0;
$color-dark-blue: #212635;

$color-salmon: #e17b77;
$color-light-blue: #00aced;
$color-medium-blue: #007bb6;
$color-darker-blue: #3b5998;
$color-darker-grey: #333;

$font-weight-regular: 400;
$font-weight-medium: 500;
